@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Overpass:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Overpass:wght@400&family=Poppins:wght@400&family=Ubuntu:wght@500&display=swap');
:root{
    --Lightred : hsl(356, 100%, 66%); 
    --VeryLightRed : hsl(355, 100%, 74%); 
    --veryDarkBlue : hsl(208, 49%, 24%); 
    --veryLightRedMobile : hsl(13, 100%, 72%); 
    --lightRedMobile : hsl(353, 100%, 62%); 
    --veryDarkGrayBlue : hsl(237, 17%, 21%); 
    --veryDarkDesaturatedBlue : hsl(237, 23%, 32%);
    --fontSize : 16px;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Header*/
.block {
    /* border-style: solid; */
    margin: 0px 1px 31px 0px;
    padding: 11%;
    border-bottom-left-radius: 15%;
    background-color: var(--Lightred );
    background-image: url("images/bg-pattern-intro-desktop.svg");
    background-position: 29% 53%;
    background-size: 259%;
}

.container {
    display: flex;
    grid-gap: 6%;
    position: relative;
    margin-right: 27%;
    bottom: 110px;
}

.container > .item{
    position: relative;
    margin-top: 12px;
}

li{
    display: none;  
}


.container > .item4{
    position: relative;
    left: 41%;
    margin-bottom: 12%;
}

.item4 > button{
    background-color: Transparent;
    height: 37px;
    width: 84px;
    border-radius: 24px;
    border-width: 0px;
    color: white;
}

.item4 > button:hover{
    background-color: white;
    color: var(--VeryLightRed);
}

.titleNav{
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
}

.icon-blogr-title{
    background-repeat: no-repeat; 
    color: white;
    transform: rotate(180deg);
}

.nameProject{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    position: relative;
    margin-right: 4%;
    color: white;
}

.section{
    position: relative;
    text-align: center;
    bottom: 43px;
    color: white;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;   
}

ul{
    color: white;
}

li {
    list-style-type: none;
    margin: 8px;
}

li > a {
    text-decoration: none;
    color: var(--veryDarkGrayBlue) ;
}

li > a ::after{
    font-weight:400; 
}

p{
    color: white;
    position: relative;
    margin-left: 33%;
    bottom: 27px;
}

.blockButton{
    display: flex;
    justify-content: center;
    margin-right: 17%;
    margin-left: 14%;
    gap: 10px;
}

.button{
    color: white;
    border-style: solid;
    height: 40px;
    width: 15%;
    border-radius: 16px;
    background-color: Transparent;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: var(--VeryLightRed);
}

/*End header / fin header*/

/*Body*/
.titleDesigner{
    text-align: center;
    color : var(--veryDarkBlue);
    font-family: 'Poppins', sans-serif; 
    margin: 6%; 
}

.containerDesigner{
   display: flex;
   flex-direction: column;
}

.itemArticleDesigner{
    margin: 0px 10%;
    font-family: 'Poppins', sans-serif; 
}

.paragrapheDesigner{
    margin: 4% 23%;
    color: var(--veryDarkBlue);
    font-family: 'Outfit', sans-serif;
    font-size: var(--fontSize);
    position: relative;
    right: 13%;
}

.imgIllustration{
    position: absolute;
    top: 609px;
    left: 63%;
}

.imgIllustrator{
    height: 445px;
}


/* 
img{
    width: 90%;
    position: relative;
    left: 88%;
    bottom: 221px;
    float: right;
} */
/* end body / fin body*/
.infrastructure{
    background-color:var(--veryDarkGrayBlue);
}