@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Overpass:wght@300&family=Poppins:wght@200&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Overpass:wght@300&family=Poppins:wght@200&family=Ubuntu:wght@500&display=swap');
:root{
    --Lightred : hsl(356, 100%, 66%); 
    --VeryLightRed : hsl(355, 100%, 74%); 
    --veryDarkBlue : hsl(208, 49%, 24%); 
    --veryLightRedMobile : hsl(13, 100%, 72%); 
    --lightRedMobile : hsl(353, 100%, 62%); 
    --veryDarkGrayBlue : hsl(237, 17%, 21%); 
    --veryDarkDesaturatedBlue : hsl(237, 23%, 32%);
    --fontSize : 16px;
}

*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

.mobileContainer, label {
    display: none;
}


/*Navigation*/
.container {
    border-bottom-left-radius: 15%;
    background-color: var(--Lightred);
    width: 99%;
    height: 375px;
    border-style: solid;
    border-bottom-left-radius: 15%;
    background-image: url("images/bg-pattern-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 30%;
}

.imgBlock{
    position: relative;
    top: 13%;
    left: 6%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 46px;
    position: relative;
    left: 17%;
    margin-right: 39%;
}

.item{
    position: relative;
    margin-top: 12px;
}

.titleNav{
    font-family: 'Overpass', sans-serif;
    cursor: pointer;
    color: white;
}

/*text*/
.listNavigation{
    display: none;  
    color: white;
}


.item4 > button{
    background-color: Transparent;
    height: 37px;
    width: 84px;
    border-radius: 24px;
    border-width: 0px;
    color: white;
}

.item4{
    position: relative;
    left: 45%;
}

.item4 > button:hover{
    background-color: white;
    color: var(--VeryLightRed);
}

.icon-blogr-title{
    background-repeat: no-repeat; 
    color: white;
    transform: rotate(180deg);
}

a{
    text-decoration: none;
}

/*Animation*/
.active .icon-blogr-title{ 
    transform: rotate(0deg);
    transition: all 0.5s ease-in;
}

/*Animation*/
.active ul{ 
    display: block;
    border-style: solid;
    background-color: white;
    transition: all 0.2s ease-in;
    padding: 8px;
    width: 95%;
    box-shadow: 0px 0px 12px 4px rgb(131, 132, 155);
}

li{ 
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
    margin: 8px;
}

.nameProject{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    position: relative;
    margin-right: 4%;
    color: white;
}

.headerTitle{
    position: absolute;
    top: 46%;
    left: 36%;
}

.section{
    position: relative;
    text-align: center;
    bottom: 43px;
    color: white;
    font-weight: 800;
    font-family: 'Outfit', sans-serif; 
}

p{
    color: white;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    /* margin-left: 33%; */
    bottom: 27px;
}

.blockButton{
    display: flex;
    justify-content: center;
    margin-right: 17%;
    margin-left: 14%;
    gap: 10px;
}

.button{
    color: white;
    border-style: solid;
    height: 47px;
    width: 43%;
    border-radius: 16px;
    background-color: Transparent;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: var(--VeryLightRed);
}

/*End navigation / fin navigation*/

/*Body Designer*/
.titleDesigner{
    text-align: center;
    color : var(--veryDarkBlue);
    font-family: 'Ubuntu', sans-serif;
    margin: 6%; 
}

.containerDesigner{
    height: 400px;
}

.rowDesigner{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 40px;
}

.itemArticleDesigner{
    margin: 0px 10%;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

.paragrapheDesigner{
    margin: 4% 23%;
    color: var(--veryDarkBlue);
    font-family: 'Overpass', sans-serif;
    font-size: var(--fontSize);
    position: relative;
    right: 13%;
}

/* .blockImgIllustration{
    position: relative;
    bottom: 485px;
    margin-right: 67%;
    left: 63%;
} */

.imgIllustrator{
    height: 445px;
    position: relative;
    bottom: 118%;
    left: 63%;
}
/* end body / fin body*/

/*Infrastructure*/
.infrastructure{
    background-color: var(--veryDarkGrayBlue);
    height: 342px;
    margin: 2px;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    background-image: url("images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: right 31em bottom 22%;
}

.rowInfrastructure{
    display: flex;
    flex-direction: row;
    gap: 0px;
    position: relative;
    margin-right: 5%;
}

.infrastructureTitle{
    color: white;
    font-family: 'Outfit', sans-serif;
}

.infrastructureParaghaphe{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    top: 16%;
}

.itemInfrastructure{
    position: relative;
    top: 50px;
    height: 220px;
}


.imgPhone{
    width: 40%;
    position: relative;
    bottom: 77px;
}

/*End of infrastructure*/

/*Computer*/
.computerContainer{
    width: 99%;
    height: 600px;
    position: relative;
    left: 3px;
}

.rowComputer{
    display: block;
    position: relative;
    top: 28%;
    height: 341px;
}

.computerTitle{
    color: var(--veryDarkBlue);
    font-family: 'Overpass', sans-serif;
    position: relative;
    left: 42%;
    margin-right: 50%;
}

.computerParagraph{
    font-family: 'Outfit', sans-serif;
    color: var(--veryDarkBlue);
    margin: 3%;
    margin-left: 22%;
    margin-right: 32%;
    position: relative;
    left: 20%;
}

.imgComputer{
    position: relative;
    bottom: 29rem;
    right: 7%;
}

.imgDesktop{
    height: 30rem
}
/*End computer*/

/*footer*/
.containerFooter{
    background-color: var(--veryDarkGrayBlue);
    height: 300px; 
    border-top-right-radius: 6rem;
}

.rowFooter{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 12%;
    margin-right: 30%;
    gap: 17%;
    top: 30%;
}

.titleNavFooter{
    font-family: 'Outfit', sans-serif;
    color: white;
}

.linkFooter{
    color: white;
}

.listFooter{
    color: white;
}


/*Tablete and mobile*/

@media (max-width: 991px){
    /*Navigation*/
    .container{
        width: 98%;
    }


    .item, .item4{
        display:none;
    }

    .headerTitle{
        position:relative;
        left:20px;
    }

    p{
        text-align:center;
    }
    /*End Navigation*/

    /*Designer*/
    .containerDesigner{
        height: 900px;
    }

    .rowDesigner{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 38%;
        left: 14%;
        margin-right: 20%;
    }

    .itemDesigner{
        position: relative;
        right: 96px;
    }

    .itemArticleDesigner{
        position: relative;
        left: 24%;
    }

    .paragrapheDesigner{
        position: relative;
        top: 2px;
        left: 2%;
        font-size: 20px;
    }
    

    .imgIllustrator {
        height: 383px;
        position: relative;
        left: 26%;
        bottom: 64%;
    }
    /*End designer*/

    /*Infrastructure*/
    .infrastructure{
        height: 480px;
        width: 99%;
    }

    .rowInfrastructure{
        display: block;
        position: relative;
        bottom: 16%;
    }

    .itemInfrastructure{
        position: relative;
        left: 3%;
        text-align: center;
    }

    .imgPhone{
        position: relative;
        top: 65px;
        left: 30%;
        width: 42%;
    }
    /*End infrastructure*/

    /*Computer*/
    .computerContainer{
        height: 700px;
    }

    .computerTitle{
        margin-right: 55%;
        position: relative;
        left: 39%;
    }

    .rowComputer{
        display: block;
        position: relative;
        top: 50%;
        height: 350px;
    }

    .imgDesktop{
        height: 19rem;
        position: absolute;
        top: 10px;
        right: 13%;
    }

    .computerParagraph{
        position: relative;
        left: 22px;
        margin-right: 24%;
    }

    .imgComputer{
        position: relative;
        bottom: 44rem;
        left: 31%;
        margin-right: 44%;
    }

    /*End computer*/

    /*footer*/

    .containerFooter{
        height: 215px;
    }

    .rowFooter{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 10%;
        left: 7%;
        gap: 8%;
    }

    /*table and mobile devices*/    
    label{
        display: flex;
        justify-content: end;
        position: relative;
        right: 7%;
        top: 4%; 
    }

    #rowMobile{
        display: block;
        color: white;
    }
}